{% extends 'layout.twig' %}

{% block body %}
    <h1>Ahoy mateys!</h1>
    <p>Welcome to {{title}}</p>
    <br>
    <p>Here's a list of routes for the enhanced Nextbus API</p>
    <ul>
        <li>asdf</li>
    </ul>
{% endblock %}
